{% load static %}
<!doctype html>
<html>
  <head>
    <title>Create A Blog Post</title>
    <link rel="stylesheet" href="{% static 'blogs.css' %}">
  </head>
  <body>
    <header>
      <div> 
        My Blog Posts
      </div>
      <div>
        <nav>
          <a href="{% url 'posts_list' %}">Back to list</a>
        </nav>
      </div>
    </header>
    <main>
      <div>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
              <button>Submit</button>
            </div>
          </form>
      </div>
    </main>
    <footer>
      <div>
      Copyright 2022 by Joyce
      </div>
      <p>This is my site that contains all of my blogs.</p>
    </footer>
  </body>
</html>