{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title class="page-title">Joyce's Blog Posts</title>
    <link rel="stylesheet" href="{% static 'blogs.css' %}">
  </head>
  <header>
    <nav> <h3>Joyce's Blogs</h3> 
        <a href="{% url 'create_post' %}">Create A Post</a>
    </nav>
  </header>
  <body>
    <main>
      {% for post in posts %}
      <div class = "main-page-blog">
        <h2 class = "blog-title">
          <a href ="{% url 'post_detail' post.id %}"> {{ post.title }} </a>
        </h2>
        <br>
        <p>
          {{ post.content }}
        </p>
      </div>
      {% endfor %}
    </main>
  </body>
  <footer>
    <div>
    Copyright 2022 by Joyce
    </div>
    <p>This is my site that contains all of my blogs.</p>
  </footer>
</html>
