html {
  background-color: cornflowerblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  background-color: white;
  padding: 12px;
  margin: 24px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-content: center;
}

footer {
  background-color: white;
  margin-top: 24px;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  align-items: center;
  
}

main {
  max-width: 800px;
  margin: auto;
}

.main-page-blog {
  background-color: white;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr;
  
}

.blog-title {
  font-weight: bold;
  font-size: 150%;
}

.blog-content {
  background-color: white;
  padding: 24px;
}

.page-title {
  background-color: white;
  padding: 24px;
  align-items: center;
  text-align: center;

}


input {
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 12px;
}

textarea {
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 12px;
}

button {
  padding: 12px;
  font-size: 110%;
}

.blog-form {
  background-color: white;
  padding: 24x;
}